{% extends 'todo/base.html' %}

{% block content %}
<title>Home</title>
<div class="container">
    {% if user.is_authenticated %}
    <h1 class="h1-home-page">Главная страница</h1>
    <h5 class="h5-home-page">Данный сайт был разработан на Django3 в практических целях.</h5>
    <p class="p-home-page">Я создал сайт на Django 3. Django - это мощный фреймворк для разработки веб-приложений на языке Python. С использованием Django 3, я смог создать свой собственный сайт, который обладает множеством функциональных возможностей.</p>
    <p class="p-home-page">Сайт, созданный на Django 3, предлагает мне удобную административную панель, которая позволяет мне управлять содержимым сайта, добавлять и редактировать данные, а также управлять пользователями. Я также использовал Django ORM (Object-Relational Mapping) для работы с базой данных, что значительно упростило процесс взаимодействия с данными.</p>
    <p class="p-home-page">Одной из великих особенностей Django 3 является его модульность и расширяемость. Я могу использовать различные пакеты и расширения, чтобы добавить дополнительные функции и интеграции в свой сайт. Django также предоставляет мощную систему маршрутизации URL, которая позволяет мне определить, какие представления и шаблоны должны быть связаны с определенными URL-адресами.</p>
    <p class="p-home-page">Создание сайта на Django 3 было увлекательным и продуктивным опытом. Я получил много полезного опыта в разработке веб-приложений и наслаждаюсь возможностью создавать мощные и гибкие сайты с помощью этого фреймворка.</p>
    <p class="p-home-page">Данный веб-сайт предоставляет функционал Todo-заметок. Здесь вы можете завести свой аккаунт и <b>создавать</b> списки дел в своем личном аккаунте, <b>удалять</b>, <b>добавлять</b> новые записи или <b>редактировать</b> существующие. Главной функцией данного сайта является
        система <b>аутентификации пользователя</b></p>

    {% else %}
    <h2 class="p2-home-page">Для начала работы вам нужно зарегистрироваться</h2>
    <div class="home-btn">
        <button type="button" class="btn btn-info btn-lg"><a href="{% url 'signupuser' %}">Начать</a></button>
    </div>
    {% endif %}
</div>
{% endblock %}