{% extends 'todo/base.html' %}

{% block content %}
<title>Login</title>
<body class="login-body">
    <div class="login-container">
    <form class="login-form-container" method="POST">
        <h1 class="login-h1">LOGIN</h1>
        {% csrf_token %}
        <div class="login-form">
            <div class="login-form-el">
            {{ form.as_p }}
            </div>
        </div>
        <h2 class="login-error">{{ error }}</h2>

        <div class="login-btn">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    </div>
</body>
{% endblock %}