body {
    font-family: 'Oswald', sans-serif;
}

.home-btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.logsig {
    float: right;
    display: flex;
}
.logsig a{
    text-color: black;
    text-decoration: None;
    text-transform: uppercase;
}
.logsig a:first-child {
    margin-right: 30px;
}
.logged form{
    margin-left: 30px;
}

.h1-home-page, .h5-home-page, .p2-home-page {
    text-align: center;
}

.h1-home-page {
    margin-top: 30px;
}

.p2-home-page {
    margin-top: 50px;
}

.h5-home-page {
    color: grey;
    font-size: 14px;
    font-style: italic;
}

.p-home-page {
    text-align: justify;
    margin-top: 30px;
    text-indent: 10px;
}

.createtodo-container {
    display: flex;
    justify-content: center;
}

.createtodo-form {
    width: 500px;
}

.createtodo-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createtodo-el p{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createtodo-el p input{
    padding: 10px;
}

.createtodo-el p:last-child {
    display: flex;
    flex-direction: row;
}

.createtodo-el p:last-child input {
    margin-left: 5px;
}

.createtodo-el p textarea {
    height: 100px;
    padding: 10px;
}


.createtodo-h1 {
    text-align: center;
    margin-top: 50px;
}

.current-h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: inherit;
}

.card {
    margin-bottom: 30px;
}

.signupuser-body {
    background: rgb(2,0,36,0.5);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 91%);
}

.signupuser-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.signup-form-container {
    margin-top: 80px;
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f8f8;
}

.signupuser-h1 {
    text-align: center;
}

.signupuser-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signupuser-form-el {
    display: flex;
    flex-direction: column;
}

.signupuser-form-el p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupuser-form-el p span{
    font-size: 14px;
    color: grey;
    font-style: italic;
}

.signupuser-form-el p input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s; /* добавляем плавный переход */
}

.signupuser-form-el p input:focus {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
    outline: none;
}

.signupuser-form-el ul{
    font-size: 14px;
    color: grey;
    font-style: italic;
}

.signupuser-error {
    color: red;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.signupuser-btn {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.login-body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 1%, rgba(143,84,190,1) 43%, rgba(252,70,107,1) 100%);
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.login-h1 {
    text-align: center;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form-el {
    display: flex;
    flex-direction: column;
}

.login-form-el p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-el p span{
    font-size: 14px;
    color: grey;
    font-style: italic;
}

.login-form-el p input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s; /* добавляем плавный переход */
}

.login-form-el p input:focus {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
    outline: none;
}

.login-error {
    color: red;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.login-form-container {
    margin-top: 200px;
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f8f8;
}

.view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.view-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.view-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-form p input {
    padding: 10px;
}

.view-form p textarea {
    height: 100px;
    padding: 10px;
}

.btn {
    margin-bottom: 20px;
}

.nav-link{
    margin-left: 100px;
}

.container-fluid {
    margin-left: 30px;
}